.header {

}
.header__container_opations {
    width: 1420px;
    margin: 0px auto;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}
.header__container_option {
    display: flex;
    column-gap: 32px;
}
.container__option_location_info {
    display: flex;
    align-items: center;
}
.option__location_svg {

}
.location__info_link {
    margin-left: 10px;
    margin-right: 8px;
    color: #1D1818;
    font-weight: 700;
    font-size: 18px;
    margin-top: 8px;
}
.option__drop_svg {
    width: 10px;
    height: 10px;
    margin-top: 12px;
}
.container__option_link {
    color: #1D1818;
    font-weight: 400;
    font-size: 14px;
    margin-top: 12px;
    transition: all 300ms ease-in-out;
}
.container__option_link:hover {
    font-weight: 600;
}
.header__container_form {
    display: flex;
    height: 50px;
    align-items: center;
    width: 1420px;
    margin: 30px auto;
    justify-content: space-between;
}
.container__form_logo {

}
.container__form_location {

}
.form__location_text {
    color: #1D1818;
    font-weight: 400;
    font-size: 14px;
}
.form__location_link {
    color: #E13B3F;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
}
.container__form_inputs {
    width: 296px;
    height: 45px;
    border: 1px solid #A8D1E7;
    display: flex;
    align-items: center;
    border-radius: 25px;
    justify-content: space-between;
    padding: 12px;
}
.container__form_input {
    border: none;
    height: 100%;
    border-radius: 25px;
    outline: none;
    color: #626262;
    font-weight: 400;
    font-size: 16px;
}
.search__svg {

}
.container__form_call {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form__call_block {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.form__call_number {
    font-weight: 700;
    font-size: 22px;
}
.form__call_button {
    width: 177px;
    height: 35px;
    border: 1px solid #E13B3F;
    border-radius: 5px;
    background: #fff;
    color: #E13B3F;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    transition: all 300ms ease-in-out;
    cursor: grab;
}
.form__call_button:hover {
    background-color: #E13B3F;
    color: #fff;
}
.container__form_options {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.container__form_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.form__option_svg {

}
.form__option_link {
    font-weight: 400;
    font-size: 18px;
    color: #1D1818;
}
.container__furniture_types {
    margin: 0px auto;
    background: #A8D1E7;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.furniture__type_name {
    height: 100%;
    font-weight: 700;
    color: #1D1818;
    font-size: 16px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms linear;
}
.furniture__active {
    background: #384685;
    color: #fff;
    border-radius: 5px;
}
.furniture__type_name:hover {
    background: #384685;
    color: #fff;
    border-radius: 5px;
}
.main__slider_image {
    background: #c4c4c4;
    width: 1420px;
    height: 387px;
    margin: 30px auto;
    display: flex;
    border-radius: 10px;
}
.container__text {
    width: 1420px;
    margin: 0px auto;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    color: #000;
    margin-top: 50px;
}
.container__block_conditions {
    display: flex;
    margin: 0px auto;
    width: 1420px;
    align-items: center;
    justify-content: space-between;
    height: 94px;
    margin-bottom: 62px;
}
.block__condition {
    width: 340px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    background: #f4f4f4;
    border-radius: 10px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.block__condition:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #000;
}
.condition__svg {
    width: 55px;
    height: 44px;
}
.block__condition_name {
    font-weight: 700;
    color: #000;
    font-size: 18px;
}






























